parameters:
	ignoreErrors:
		- '#Function fopen is unsafe to use.#'
		- '#Function fread is unsafe to use.#'
		- '#Function fwrite is unsafe to use.#'
		- '#Function stream_get_contents is unsafe to use.#'
		- '#of function#'
		- '#Function React\\Stream\\fwrite\(\) has parameter \$length#'
	treatPhpDocTypesAsCertain: false
	ergebnis:
		classesAllowedToBeExtended:
			- InvalidArgumentException

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon
